<%= stylesheet_link_tag 'user_form' %>

<div class="form-container">
  <h2>Resend confirmation instructions</h2>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
      <table>
        <% content_for :label, flush: true do %>
          <%= f.label :email %>
        <% end %>
        <% content_for :field, flush: true do %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        <% end %>
        <%= render 'form_field' %>

        <tr>
          <td></td>
          <td class='actions'>
            <%= f.submit "Resend confirmation instructions", class: 'button' %>
          </td>
        </tr>

        <tr>
          <td></td>
          <td class='left'>
            <%= render "devise/shared/links" %>
          </td>
        </tr>
        
      </table>
  <% end %>
</div>
