<%= stylesheet_link_tag 'user_form' %>
<div class="form-container">
  <h2>Sign up</h2>
    
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <table>
      <% content_for :label, flush: true do %>
        <%= f.label :handle %>
      <% end %>
      <% content_for :field, flush: true do %>
          <%= f.text_field :handle, autofocus: true, autocomplete: "text", id: "handle" %>
      <% end %>
      <% content_for :error, flush: true do %>
         <td class='error' id="error-handle"></td> 
      <% end %>
      <%= render partial: 'form_field' %>

      <% content_for :label, flush: true do %>
        <%= f.label :email %>
      <% end %>
      <% content_for :field, flush: true do %>
           <%= f.email_field :email, autocomplete: "email", id: 'email' %>
      <% end %>
      <% content_for :error, flush: true do %>
        <td class='error' id="error-email"></td>
      <% end %>
      <%= render partial: 'form_field' %>

      <% content_for :label, flush: true do %>
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <small><em> <br />(<%= @minimum_password_length %> characters minimum)</em></small>
          <% end %>
      <% end %>
      <% content_for :field, flush: true do %>
          <%= f.password_field :password, autocomplete: "off", id: 'password'%>
      <% end %>
      <% content_for :error, flush: true do %>
        <td class= 'error' id="error-password"></td>
      <% end %>
      <%= render partial: 'form_field' %>

      <% content_for :label, flush: true do %>
          <%= f.label :confirmation %>
      <% end %>
      <% content_for :field, flush: true do %>
          <%= f.password_field :confirmation, autocomplete: "off", id: 'confirmation' %>
      <% end %>
      <% content_for :error, flush: true do %>
        <td class='error' id="error-confirmation"></td>
      <% end %>
      <%= render partial: 'form_field' %>

      <tr>
        <td></td>
        <td class='actions left'>
          <%= f.submit "Sign up", class: 'button' %>
        </td>
      </tr>

      <tr>
        <td></td>
        <td>
          <%= render "devise/shared/links" %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
