<%= stylesheet_link_tag 'user_form' %>
<div class="form-container">
  <h2>Sign up</h2>
    
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <table>
      <tr>
        <td class='label'>
           <%= f.label :handle %>
        </td>
        <td class="field">
          <%= f.text_field :handle, autofocus: true, autocomplete: "text", id: "handle" %>
        </td>
        <td class='error' id="error-handle"></td>
      </tr>

      <tr class='spacer'>
        <td></td>
      </tr>

      <tr>
        <td class="label">
           <%= f.label :email %>
        </td>
        <td class="field">
           <%= f.email_field :email, autocomplete: "email", id: 'email' %>
        </td>
        <td class='error' id="error-email"></td>
      </tr>

      <tr class='spacer'>
        <td></td>
      </tr>

      <tr>
        <td class="label">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <small><em> <br />(<%= @minimum_password_length %> characters minimum)</em></small>
          <% end %>
        </td>
        <td class="field">
          <%= f.password_field :password, autocomplete: "off", id: 'password'%>
        </td>
        <td class= 'error' id="error-password"></td>
      </tr>

      <tr class='spacer'>
        <td></td>
      </tr>

      <tr>
        <td class="label">
          <%= f.label :confirmation %>
        </td>
        <td class="field">
           <%= f.password_field :confirmation, autocomplete: "off", id: 'confirmation' %>
        </td>
        <td class='error' id="error-confirmation"></td>
      </tr>

      <tr class='spacer'>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td class='actions field'>
          <%= f.submit "Sign up", class: 'button' %>
        </td>
      </tr>

    </table>
  <% end %>

  <%= render "devise/shared/links" %>
</div?
