<nav class="global-navbar">
  <ul class="global-nav left">
    <li class="global-nav-item">
      <%= link_to 'Odin Chess', root_path, class: 'global-nav-link home' %>
    </li>
  </ul>
  <ul class="global-nav right">
    <% if user_signed_in? %>
      <li class="global-nav-item">
        <%= link_to 'Logout',
          destroy_user_session_path,
          class: 'global-nav-link login',
          method: :delete %>
      </li>
      <li class="global-nav-item">
        <%= link_to 'Lobby', lobby_path, class: 'global-nav-link signup' %>
      </li>
    <% else %>
      <li class="global-nav-item">
        <%= link_to 'Login',
          new_user_session_path,
          class: 'global-nav-link login' %>
      </li>
      <li class="global-nav-item">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'global-nav-link signup' %>
      </li>
    <% end %>
  </ul>
</nav>
